/* SHOW / CONTATO INDIVIDUAL */
#view-contact-container {
    max-width: 600px;
    margin: 0 auto;
    max-height: 800px;
}

#main-title {
    text-align: center;
    margin: 20px;
    color:#007BFF;    
}

/* BOTAO VOLTAR   */
/* #back-link:hover {
    text-decoration: none;
}
 
#back-link-container {
    display: block;
    width: 50px;
    margin: 50px auto 0; 
}

#back-link {
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 4px;
    padding: 5px;
} */ */

.btn btn-outline-dark{
    justify-content: end;
}

.container{
    /* background-color: red; */
    max-height: 800px;

}

.containerheader{
    display: flex; 
    min-width: 600px;  
    width: 100%;
}

.btnVoltar{
    margin-top: 25px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}