/* SHOW / CONTATO INDIVIDUAL */
#view-contact-container {
    max-width: 600px;
    margin: 0 auto;
}

#main-title {
    text-align: center;
    margin: 20px 0 20px;
    color:#007BFF;    
}

/* BOTAO VOLTAR   */
/* #back-link:hover {
    text-decoration: none;
}
 
#back-link-container {
    display: block;
    width: 50px;
    margin: 50px auto 0; 
}

#back-link {
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 4px;
    padding: 5px;
} */ */

.btn btn-outline-dark{
    justify-content: end;
}

.container{
    background-color: #dfe9f2;
}