/* INDEX */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    /* background-color: #f5f0f1; */
    background-color: #d7e9f2;
}

body, input, button {
    font-family: 'Poppins', sans-serif;
}

.conteudo-cabecalho{
    /* background-color:#29abcc;  */
    background-color:#2b7483;   
}

.conteudo-cabecalho .cabecalho-centro{
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    padding: 36px 16px 80px;
}

.conteudo-cabecalho .cabecalho-centro .btn{
    /* background-color: #33bbff; */
    background-color: #278f9c;
    height: 48px;
    width: 195px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.principal {
    /* background-color: red; */
    /* max-width: 1000px; */
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.secundaria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-top: -80px;
}

.item-card {
    background-color: #fff;
    padding: 28px 32px 28px 32px;
    /* padding: 44px 48px 44px 48px; */
    border-radius: 5px;
    color: #363F5F;
}

.item-card div {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.item-card strong {
    font-size: 36px;
    font-weight: 520;
    margin-top: 16px;
    display: block;
}

.item-card.colortotal {
    background-color: #33cc95;
    color: #fff;
}

.conteudo-tabela {
    margin-top: 20px;
}

.conteudo-tabela table {
    width: 100%;
    border-spacing: 0 0.5rem;
}

.conteudo-tabela table thead th  {
    /* color: #969696; */
    font-weight: 400;
    /* text-transform: uppercase;     */
    padding: 12px 32px 12px 32px;
    text-align: center;
    font-size: 18px;
    color: #363f5f;
    font: bold;
    line-height: 24px;    
}

.conteudo-tabela table tbody td  {
    background-color: #fff;    
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    color: #363f5f;
    text-align: center; 
    /* margin-top: 12px;    */   
}

.conteudo-tabela table .cor-entrada {
    color: #33cc95;
}

.conteudo-tabela table .cor-saida {
    color: #e52e4d;
}