/* HEADER */
.navbar-brand img {
    width: 500px;
  }

  .blackbtn {
    background-color: #155724;
    color: #BD2130;
  }
  
  #main-title {
    text-align: center;
    margin: 90px 0 50px;
  }

.container{
  /* padding-top: 64px; */
  /* text-align: center; */
  align-items: center;
}

#header_saudacao {
  /* display: flex;
  justify-content: end;
  color: #fff; */
}


#header_saudacao  h5 {
  color: #fff !important;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}

/* .container.dropdown{

}

.btn btn-primary dropdown-toggle{
  background-color:red;
} */

  
  /* HOME */
  /* #contacts-table {
    max-width: 1800px;
    margin: 0 auto;
  }
  
  #contacts-table thead {
    color: #FFF;
    background-color: #007BFF;
  }
  
  .col-id {
    font-weight: bold;
  }
  
  .actions {
    text-align: right;
    width: 150px;
  }
  
  .actions i {
    font-size: 18px;
    margin-right: 5px;
  }
  
  .check-icon {
    color: #1E7E34;
  }
  
  .edit-icon {
    color: red;
  }
  
  .delete-form {
    display: inline-block;
  }
  
  .delete-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  .delete-icon {
    color: #BD2130;
  }
  
  #empty-list-text {
    text-align: center;
  }
  
  #msg {
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
  } */ */